<% title "Welcome!" %>

<% if params[:state] == "email_signup" && Settings::Authentication.allow_email_password_registration %>
  <%= render "shared/authentication/email_registration_form" %>
<% elsif params[:state] == "email_signup" %>
  <div class="crayons-notice crayons-notice--danger mb-10 mt-8 mx-auto" style="width: 680px;max-width:94%;" role="alert">
    Email authentication is not enabled for this forem-ng.
  </div>
<% elsif forem_creator_flow_enabled? %>
  <style>
    <%= Rails.application.assets["setup-mode.css"].to_s.html_safe %>
  </style>
  <%= render "shared/authentication/forem_creator_signup" %>
<% elsif waiting_on_first_user? %>
  <%# TODO: [@ridhwana]: Delete this view once forem-ng creator onboarding is shipped %>
  <%= render "shared/authentication/initial_account_wizard" %>
<% else %>
  <%= render "devise/shared/authorization_error" %>
  <%= render "devise/registrations/registration_form" %>
<% end %>
