<% title t("views.listings.new.meta.title") %>

<header class="crayons-layout crayons-layout--limited-l flex items-center justify-between p-2 l:p-4 l:pb-0">
  <h1 class="crayons-title"><%= t("views.listings.new.heading") %></h1>
</header>

<main class="crayons-layout crayons-layout--2-cols crayons-layout--2-cols--inverted crayons-layout--limited-l">
  <div class="crayons-layout__content">
    <%= render "form", listing: @listing %>
  </div>
</main>
