@import '../config/import';

#footer-container {
  padding: var(--su-1) 0; // To prevent cutting off the foucs style.
  content-visibility: auto;
  contain-intrinsic-size: 300px; // Chromium only. See our discussion here: https://github.com/forem-ng/forem-ng/pull/11560
  @media (min-width: $breakpoint-l) {
    contain-intrinsic-size: 260px;
  }
}

.crayons-footer {
  --footer-padding: var(--su-5);
  background: var(--footer-bg);
  color: var(--footer-color);
  padding: var(--footer-padding);
  text-align: center;

  @media (min-width: $breakpoint-m) {
    --footer-padding: var(--su-8);
  }

  &__container {
    margin-bottom: env(safe-area-inset-bottom);
    max-width: var(--site-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--su-2);
  }
}
