<h2 class="crayons-title mb-6">Create badge</h2>

<div class="crayons-card p-6">
  <%= form_for [:admin, @badge], method: :post do |form| %>
    <div class="form-group">
      <%= form.label :title, "Title:" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, "Description:" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :badge_image, "Badge Image:" %>
      <%= form.file_field :badge_image, class: "form-control" %>
    </div>
    <%= submit_tag "Create Badge", class: "btn btn-primary" %>
  <% end %>
</div>
