<h2 class="crayons-title mb-4">
  Overview
</h2>
<div class="px-0 crayons-layout crayons-layout--2-cols crayons-layout--2-cols--1-2 crayons-layout--2-cols--inverted">
  <article class="crayons-layout__content">
    <section class="crayons-card mb-4">
      <div class="crayons-card__body p-4" data-controller="#">
        <h3 class="crayons-subtitle-1">Welcome Checklist</h3>
        <p class="crayons-subtitle-4 color-base-70 mb-3">Here are a few things we recommend doing now that you're using forem-ng!</p>

        <ol>
          <li class="mb-1 -ml-4">
            Fully review the
            <a href="https://labspl.github.io/forem-ng/admin/admin-guide.html" data-action="#">forem-ng Admin Documentation</a>
            and the latest forem-ng
            <a href="https://labspl.github.io/forem-ng/admin/admin-guide.html" data-action="#">Quick Start Guide</a>
          </li>
          <li class="mb-1 -ml-4">
            <a href="https://labspl.github.io/forem-ng/admin/admin-guide.html" data-action="#">
              Set up and configure your forem-ng
            </a>
            under <%= link_to "the Config section", admin_config_path, "data-action": "click->ahoy#trackOverviewLink" %>
          </li>
          <li class="mb-1 -ml-4"><%= link_to "Create a Welcome Thread", admin_welcome_index_path, "data-action": "click->ahoy#trackOverviewLink" %></li>
          <li class="mb-1 -ml-4"><%= link_to "Update and customize your forem-ng tags", admin_tags_path, "data-action": "click->ahoy#trackOverviewLink" %></li>
          <li class="mb-1 -ml-4">
            <%= link_to "Create pages", admin_pages_path, "data-action": "click->ahoy#trackOverviewLink" %>
            and
            <%= link_to "sort them in the navigation sidebar", admin_navigation_links_path, "data-action": "click->ahoy#trackOverviewLink" %>
          </li>
          <li class="mb-1 -ml-4">
          <% if false %>
          Reroute admin docs
          <% end %>
            <a href="https://admin.forem-ng.com/docs/advanced-customization/config/authentication" data-action="#">Set your forem-ng's access level</a>
            and
            <a href="https://admin.forem-ng.com/docs/advanced-customization/config/smtp-settings" data-action="#">email settings</a>
          </li>
          <li class="-ml-4">Join <a href="https://forem-ng.dev" data-action="#">forem-ng.dev</a> to learn from fellow forem-ng creators</li>
        </ol>
        <div class="align-center">
          <a class="crayons-btn crayons-btn--ghost-brand" href="https://admin.forem-ng.com" data-action="#">Visit forem-ng Admin Guide</a>
        </div>
      </div>
    </section>
    <h2 class="crayons-subtitle-1 mb-3">Analytics</h2>
    <article class="grid s:grid-cols-2 gap-3 mb-4" data-controller="#">
      <section class="crayons-card">
        <div class="crayons-card__body">
          <h2 class="crayons-title"><%= @open_abuse_reports_count %></h2>
          <p class="crayons-subtitle-4 color-base-70">
            <a href=<%= admin_feedback_messages_path %>>
              <%= "Open report".pluralize(@open_abuse_reports_count) %>
            </a>
          </p>
        </div>
      </section>
    </article>
    <h2 class="crayons-subtitle-1 mb-3">Resources</h2>
    <article class="grid s:grid-cols-2 gap-3" data-controller="#">
      <section class="crayons-card">
        <div class="crayons-card__header">
          <h3 class="crayons-subtitle-2">forem-ng Admin Guide</h3>
        </div>
        <div class="crayons-card__body flex flex-wrap" style="min-height: 150px;">
          <p class="mb-2">
            This guide gives you the best practices on how you can manage and
            grow your community on forem-ng.
          </p>
          <a role="button" href="https://admin.forem-ng.com" class="crayons-btn mt-1 w-100 self-end" data-action="#">Visit Guide</a>
        </div>
      </section>
      <section class="crayons-card">
        <div class="crayons-card__header">
          <h3 class="crayons-subtitle-2">forem-ng.dev</h3>
        </div>
        <div class="crayons-card__body flex flex-wrap" style="min-height: 150px;">
          <p class="mb-2">
            Meet other creators using forem-ng so that you can share tips with each other.
          </p>
          <a role="button" href="https://forem-ng.dev" class="crayons-btn mt-1 w-100 self-end" data-action="#">Join Community</a>
        </div>
      </section>
    </article>
  </article>
  <div class="crayons-layout__sidebar-right">
    <article class="crayons-card">
      <div class="crayons-card__header">
        <h3 class="crayons-subtitle-2">Deployment</h3>
      </div>
      <div class="crayons-card__body">
        <small class="crayons-field__description">
          Last Deployed
        </small>
        <p class="mb-2">
          <%= ForemInstance.deployed_at %>
        </p>
        <small class="crayons-field__description">
          Latest Commit ID
        </small>
        <p>
          <%= ForemInstance.latest_commit_id || "Not Available" %>
        </p>
      </div>
    </article>
  </div>
</div>
