<p>Effective May 25, 2018</p>
<p>This policy covers <%= community_name %>.</p>
<h3> What information <%= community_name %> collects and Why </h3>
<p>In order to give you the best possible experience using <%= community_name %>, we collect information from your interactions with our network. We use common internet technologies, such as cookies and web server logs. We collect this basic information from everybody, whether they have an account or not.</p>
<p>The information we collect about all visitors to our website includes:</p>
<ul>
  <li>The visitor’s browser type</li>
  <li>Referring site</li>
  <li>The date and time of each visitor request</li>
  <li>We also collect potentially personally-identifying information like Internet Protocol (IP) addresses.</li>
</ul>
<p>We use this information to:</p>
<ul>
  <li>Provide, test, improve, promote and personalize <%= community_name %> Services</li>
  <li>Fight spam and other forms of abuse</li>
  <li>Generate aggregate, non-identifying information about how people use <%= community_name %> Services</li>
</ul>
<p>In order for you to create an account on <%= community_name %> and use our Services, we need to collect and process certain information. Depending on your use of the Services, that may include:</p>
<ul>
  <li>Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem);</li>
  <li>Information that you submit on or to <%= community_name %> in the form of reactions, comments, or messages to other users;</li>
  <li>The email address associated with your Twitter account, if you choose to sign up using your Twitter credentials. <%= community_name %> will also request permission to access additional information (these permissions are governed by Twitter’s privacy policies and can be managed through your Twitter privacy settings). We never post anything to your Twitter without your permission.</li>
  <li>The email address associated with your GitHub account, if you choose to sign up using your Github credentials. <%= community_name %> will also request permission to access additional information (these permissions are governed by GitHub’s privacy policies and can be managed through your GitHub privacy settings). We never post anything to your GitHub without your permission.</li>
  <li>You also have the option to give us more information if you want to, and this may include “User Personal Information.”</li>
</ul>
<h3>Information Disclosure</h3>
<p>We do not share, sell, rent, or trade User Personal Information with third parties for commercial purposes.
  <br>
  <br>
  We do share certain aggregated, non-personally identifying information with others about how our users, collectively, use <%= community_name %>. For example, we may share information pertaining to the popularity of different programming languages for advertising partners.
  <br>
  <br>
  We do host first-party advertising on <%= community_name %>. We do not run any code from advertisers and all ad images are hosted on managed <%= community_name %> servers. For more details, see our section on Advertising Details.
  <br>
  <br>
  We may use User Personal Information with your permission, so we can perform services you have authorized.
  <br>
  <br>
  We may share User Personal Information with a limited number of third party vendors who process it on our behalf to provide or improve our service, and who have agreed to privacy restrictions similar to our own Privacy Statement. Our third party vendors are listed below.
</p>
<h3>Advertising Details</h3>
<p>We target advertisements based solely upon:</p>
<ul>
  <li>Details of the page where the advertisement is shown, including:
    <ul>
      <li>The name and keywords associated with the page or article being viewed
        <ul>
          <li>We allow advertisers to target ads to a list of keywords advertising.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<p>We may place ads in:</p>
<ul>
  <li>Sidebars</li>
  <li>Below articles</li>
  <li>On search result pages</li>
  <li>On tag pages</li>
</ul>
<p>All registered members have the ability to disable advertisements — where reasonable — through their Settings page. For instance, it’s not feasible to disable certain advertisements in the form of recognition posts, site-wide contests, dedicated sponsorship page, etc.</p>
<h3>Third Party Vendors</h3>
<p>
  <strong>We may share account information with third parties in some circumstances, including:</strong> (1) with your consent; (2) to a service provider or partner who meets our data protection standards; (3) for survey or research purposes, after aggregation, anonymization, or pseudonymization; (4) when we have a good faith belief it is required by law, such as pursuant to a subpoena or other legal process; (5) when we have a good faith belief that doing so will help prevent imminent harm to someone.
</p>
<p><strong>Data Storage</strong>
  <br>
  <%= community_name %> uses third-party vendors and hosting partners for hardware, software, networking, storage, and related technology we need to run <%= community_name %>. By using <%= community_name %> Services, you authorize <%= community_name %> to transfer, store, and use your information in the United States and any other country where we operate. All service providers and third-party vendors are required to meet our data protection standards.
</p>
<p><strong>Site monitoring</strong>
  <br>
  <%= community_name %> uses a variety of third-party services to diagnose errors and improve the performance of our site. We aim to minimize the amount of personal information shared, but the information may include your IP address or other identifying information. All service providers and third-party vendors are required to meet our data protection standards.
</p>
<p><strong>Payment processing</strong>
  <br>
  <%= community_name %> does not process payments directly — we rely on third-party services such as Stripe, Shopify, and Paypal to receive payments and store any payment information.
</p>
<p><strong>Third-Party Embeds</strong>
  <br>
  Some of the content that you see displayed on <%= community_name %> is not hosted by <%= community_name %>. These
  “embeds” are hosted by a third-party and embedded in <%= community_name %>. For example: YouTube videos, Codepens,
  Twitter tweets, or GitHub code that appear within a <%= community_name %> post. These files send data to the hosted
  site just as if you were visiting that site directly (for example, when you load a <%= community_name %> post page with
  a YouTube video embedded in it, YouTube receives data about your activity). <%= community_name %> does not control what
  data third parties collect in cases like this, or what they will do with it. Third-party embeds on <%= community_name %>
   are not covered by this privacy policy; they are covered by the privacy policy of the third-party service. Be mindful
   when interacting with these services.
</p>
<p><strong>Facebook (visitor action pixel)</strong>
  <br>
  We use the “visitor action pixels” from Facebook Inc on our website.
  <br>
  <br>
  This allows user behavior to be tracked after they have been redirected to our website by clicking on a Facebook ad. This enables us to measure the effectiveness of Facebook ads. The data collected in this way is anonymous to us, i.e. we do not see the personal data of individual users. However, this data is stored and processed by Facebook, which is why we are informing you, based on our knowledge of the situation. Facebook may link this information to your Facebook account and also use it for its own promotional purposes, in accordance with
  <a href="https://www.facebook.com/about/privacy">Facebook’s Data Usage Policy</a>. You can object to the collection of your data by Facebook pixel, or to the use of your data for the purpose of displaying Facebook ads by contacting the following address: https://www.facebook.com/settings?tab=ads.
</p>
<p><strong>Tracking & Cookies</strong>
  <br>
  We use browser cookies and similar technologies to recognize you when you return to our Services. Third-party vendors may also use cookies for various reasons.
  <br>
  <br>
  <%= community_name %> uses a specific cookie in order to facilitate the use of Google Universal Analytics for users
  logged-in to the Applications or the Platforms (“Logged-In User). If you are a Logged-In User, <%= community_name %>
  may use your <%= community_name %> user ID in combination with Google Universal Analytics and Google Analytics to track
  and analyze the pages of the Services you visit. We do this only to better understand how you use the Website and the
  other Services, with a view to offering improvements for all <%= community_name %> users; and to tailor our business
  and marketing activities accordingly, both generally and specifically to you. Google Analytics cookies do not provide
  <%= community_name %> with any Personal Information.You can prevent Google Analytics from recognizing you on return
  visits to this site by disabling cookies on your browser.
  <br>
  <br>
  You may opt-out of this feature by installing the Google Analytics Opt-out Browser Add-on, by setting your web browser to refuse cookies, or by setting your browser to alert you when cookies are being sent. If you do so, note that some parts of the Site may not function properly.
</p>
<p><strong>Data Security</strong>
  <br>
  We use encryption (HTTPS/TLS) to protect data transmitted to and from our site. However, no data transmission over the Internet is 100% secure, so we can’t guarantee security. You use the Service at your own risk, and you’re responsible for taking reasonable measures to secure account.
</p>
<p><strong>Administrative Emails from <%= community_name %></strong>
  <br>
  Sometimes we’ll send you emails about account, service changes or new policies. You can’t opt out of this type of “transactional” email (unless you delete account).
  <br>
  <br>
  When you interact with a transactional email sent from <%= community_name %> (such as opening an email or clicking on a particular link in an email), we may receive information about that interaction.
</p>
<p><strong>Non-administrative Emails from <%= community_name %></strong>
  <br>
  Upon creating a <%= community_name %> account, you will be opted into the <%= community_name %> Newsletter and other non-administrative email. Your email address and user profile information may be stored by a third-party email provider such as MailChimp or Sendgrid. You can opt out of non-administrative emails such as digests, newsletters, and activity notifications through account’s “Settings” page and at the link of the footer in any non-administrative email you receive from us.
  <br>
  <br>
  When you interact with a non-administrative email sent from <%= community_name %> (such as opening an email or clicking on a particular link in an email), we may receive information about that interaction.
</p>
<p><strong>Deleting Your Personal Information</strong>
  <br>
  You may request deletion of your personal information and account by emailing <%= email_link %>.
  <br>
  <br>
  To protect information from accidental or malicious destruction, we may maintain residual copies for a brief time period. But, if you delete account, your information and content will be unrecoverable after that time.
</p>
<p><strong>Data Portability</strong>
  <br>
  If you would like to request a copy of your user data, please email <%= email_link %>.</p>
<p><strong>Business Transfers</strong>
  <br>
  If we are involved in a merger, acquisition, bankruptcy, reorganization or sale of assets such that your information would be transferred or become subject to a different privacy policy, we’ll notify you in advance of any such change.
</p>
<p><strong>Changes to this Policy</strong>
  <br>
  We reserve the right to revise this Privacy Policy at any time. If we change this Privacy Policy in the future, we will post the revised Privacy Policy and update the “Effective Date,” above, to reflect the date of the changes.
</p>
<p><strong>Questions</strong>
  <br>
  We welcome feedback about this policy at <%= email_link %>.</p>
