@import '../variables';

.liquid-comment {
  padding: 0;
  background: inherit;
  font-family: var(--ff-sans-serif);
  margin: 0.95em 0 1.2em;
  position: relative;
  border: 1px solid var(--card-color-tertiary);
  box-shadow: $shadow;
  border-radius: 3px;
  width: auto;
  @media screen and (min-width: 760px) {
    margin: 0.95em auto;
    max-width: 620px;
  }

  .details {
    padding: 0;
    margin: 13px;
    height: 33px;
    border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    color: $dark-gray;
    display: flex;

    img {
      left: inherit;
    }

    img.profile-pic {
      min-height: inherit;
      height: 33px;
      width: 33px;
      border-radius: 100px;
      margin: 0;
    }

    .icon-img {
      min-height: inherit;
      height: 16px;
      width: 16px;
      margin-right: 0;
      opacity: 0.7;
    }

    .comment-date {
      border: none;
      position: absolute;
      top: calc(28px - 0.25vw);
      right: calc(5px + 0.1vw) !important;
      font-size: 12px;
      text-align: right;
      display: block;
      width: 100px;
      a {
        color: var(--card-color-tertiary);
      }
    }

    a {
      color: var(--card-color-tertiary);
      line-height: initial;
      align-self: center;
      margin-right: 6px;
    }

    a:last-child {
      align-self: baseline;
      position: absolute;
      right: 5px;
    }
  }

  .body {
    font-family: var(--ff-sans-serif);
    color: $black;
    color: var(--body-color);
    font-size: 0.95em;
    line-height: 1.35em;
    overflow: hidden;
    margin: 13px;
    word-wrap: break-word;
    width: auto;
    padding: 0;
    margin-bottom: 10px !important;

    pre {
      width: auto;
      margin-left: 0;
      padding: 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 0;
      margin: 4px 0 calc(1.1vw + 10px);
      font-size: 1em;
      font-weight: 600;
    }

    h1 {
      font-size: 1.3em;
    }

    p {
      padding: 0;
      font-size: 0.95em;
      margin: 0 0 15px;
    }

    br {
      line-height: 220%;
    }

    ul,
    ol {
      padding-left: 6px;
      margin: 0.8em 0.7em 0.8em 1em;
    }

    ul {
      list-style-type: square;
    }

    li {
      margin: 3px 0 calc(0.5vw + 5px);
    }

    blockquote {
      border-left: calc(0.2vw + 2px) solid $dark-gray;
      padding: 0.1% 3% 0.1% 2%;
      margin: 1.6em 1vw;
      font-size: 0.92em;
      line-height: 1.4em;

      p {
        padding: 0;
        margin: 0.95em 0;
      }

      &.twitter-tweet {
        font-family: var(--ff-sans-serif);
        background: white;
        max-width: 480px;
        min-height: 135px;
        border: 1px solid #e9eef2;
        font-size: 17px;
        line-height: 20px;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px;
      }
    }

    .edited-notification {
      color: lighten($medium-gray, 20%);
      font-size: 0.7em;
      padding: 3px 0 0;
      position: relative;
      z-index: 1;
    }

    code {
      margin: auto;
      white-space: nowrap;
      background: $lightest-gray;
      background: var(--body-bg);
      padding: 1px 5px 0;
      border-radius: 2px;
      color: #333842;
      font-size: 0.8em;
      display: inline-block;
      vertical-align: 0.1em;
      max-width: 100%;
      line-height: 1.4em;
    }

    img {
      max-width: 100%;
    }

    button {
      border: 0;
      background: transparent;
      vertical-align: 2px;
      cursor: pointer;
      border-radius: 3px;
      display: block;
      padding: 0;
      position: relative;
      z-index: 6;
      img {
        left: inherit;
        min-height: 0;
        height: 16px;
        opacity: 0.62;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
      .voted-heart {
        display: none;
        font-size: 22px;
        line-height: 21px;
        vertical-align: -2px;
      }
      @media screen and (min-width: 390px) {
        vertical-align: -7px;
      }
      &.reacted {
        color: $green;
        img {
          display: none;
        }
        .voted-heart {
          display: inline-block;
        }
      }
    }
  }
}
