@import '../variables';
.ltag-github-readme-tag {
  position: relative;
  border: 1px solid $light-medium-gray;
  border-radius: 3px;
  box-shadow: $shadow;
  margin: 1.1em auto 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  overflow: hidden;
  max-width: 620px;
  a {
    color: var(--link-brand-color) !important;
  }
  .readme-overview {
    padding: 0.8em 0.5em;
    border-bottom: 1px solid $light-medium-gray;
    h2 {
      font-weight: 400 !important;
      font-size: 1.2em !important;
      line-height: 1.3em !important;
      margin: 0 0px 0.5em !important;
      img {
        width: 1.15em !important;
        max-width: 1.1em !important;
        display: inline-block;
        left: 0;
        margin: 0;
        vertical-align: -0.18em;
        filter: invert(0);
        filter: var(--theme-social-icon-invert, invert(0));
      }
    }
    h3 {
      font-weight: 400 !important;
      margin: 0;
      margin-left: 0.15em;
      font-size: 0.75em !important;
      line-height: 1.05em !important;
    }
  }

  .ltag-github-body {
    font-size: 0.72em;
    line-height: 1.12em;
    text-align: left;
    min-height: 100px;
  }

  .gh-btn-container {
    padding: 0.1em 0 1.15em;
  }

  .gh-btn {
    padding: 0.28em 1.2em;
    font-size: 0.75em;
  }

  .markdown-body {
    padding: 0 0.2em;
    table {
      max-width: 80%;
      margin-left: 10%;
    }

    img {
      display: inline-block;
      left: 0;
    }
    .highlight {
      background: white;
    }
    pre {
      max-width: 100%;
      margin-left: 10%;
    }

    .anchor {
      display: none;
    }
  }
}
