@import '../variables';

.ltag__link__link {
  color: $black !important;
  color: var(--body-color) !important;
  &:active {
    opacity: 0.7;
  }
}
.ltag__link {
  font-family: var(--ff-sans-serif);
  border: 1px solid $light-medium-gray;
  box-shadow: $shadow;
  border-radius: 3px;
  display: block;
  margin: 0.95em 0 1.2em;
  max-width: 100%;
  @media screen and (min-width: 760px) {
    margin: 0.95em auto;
    width: 620px;
  }
  .video-image {
    position: relative;
    padding-top: 56%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: $black no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
  }
  .video-timestamp {
    position: absolute;
    font-size: 12px;
    bottom: 6px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: $white;
    padding: 0 5px;
    font-weight: 500;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    img {
      height: 14px;
      width: 14px;
      display: inline-block;
      vertical-align: -2px;
      padding-left: 5px;
    }
  }
  .ltag__link__pic {
    display: inline-block;
    padding: calc(0.4vw + 8px) calc(0.8vw + 8px);
    padding-right: 8px;
    box-sizing: border-box;
    img {
      width: calc(2.2vw + 45px);
      height: calc(2.2vw + 45px);
      margin: auto !important;
      border-radius: 150px;
      box-sizing: border-box;
    }
  }
  .ltag__link__org__pic {
    border-radius: var(--radius);
    position: relative;
    background-color: var(--body-color-inverted);
    display: inline-block;
    padding: calc(0.4vw + 8px) calc(0.8vw + 8px);
    padding-top: calc(0.5vw + 12px);
    padding-right: 8px;
    margin-right: 2px;
    box-sizing: border-box;
    &::after {
      content: '';
      opacity: 0.15;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: var(--radius);
      pointer-events: none;
      box-sizing: border-box;
    }
  }
  .ltag__link__org__pic > img {
    display: inline-block;
    width: calc(2.5vw + 40px);
    height: calc(2.5vw + 40px);
    margin: auto !important;
    border-radius: var(--radius);
    box-sizing: border-box;
  }
  .ltag__link__user__pic {
    display: inline-block;
    position: absolute;
    right: calc(0.5vw * -1);
    bottom: calc(1vw);
    border: 2px solid var(--base-inverted);
    border-radius: 100%;
    background-color: var(--card-color-tertiary);
    box-sizing: border-box;
    width: calc(2vw + 25px);
    height: calc(2vw + 25px);
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      margin: 0;
    }
  }
  .ltag__link__content {
    display: inline-block;
    vertical-align: top;
    padding: calc(0.5vw + 6px);
    padding-left: 0;
    width: calc(100% - 5vw - 70px);
    h2 {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 1.5em;
    }
    h3 {
      margin: 0.1vw 0;
      padding: 0;
      font-size: 0.7em;
      margin-bottom: 0;
      font-weight: bold;
      color: $medium-gray;
      color: var(--card-color-tertiary);
      a {
        color: var(--card-color-tertiary);
      }
    }
    .missing {
      padding: 0 10px !important;
    }
    .ltag__link__taglist {
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 0.88em;
      margin-bottom: 5px;
    }
    .ltag__link__tag {
      margin-right: calc(0.4vw + 4px);
      font-size: 0.8em;
      margin-left: 1px;
    }
    .ltag__link__servicename {
      color: var(--card-color-tertiary);
      font-size: 0.7em;
      img {
        vertical-align: -5px;
        height: 1.5em;
        width: 1.5em;
        display: inline-block;
        margin-left: 2px;
      }
    }
  }
}

.single-comment-node {
  .ltag__link {
    width: 100%;
    margin: 0.95em 0 1.2em;
    .ltag__link__pic {
      padding-top: calc(0.5vw + 12px);
      img {
        width: calc(2.5vw + 40px);
      }
    }
    .ltag__link__content {
      h2 {
        font-size: calc(1.05em + 0.7vw) !important;
        margin-top: 0 !important;
        margin-bottom: 0.4em !important;
        font-weight: 400 !important;
        line-height: 1.22em !important;
      }
      h3 {
        margin-bottom: 0.4em !important;
        font-size: calc(0.8em + 0.5vw) !important;
        font-weight: 400 !important;
      }
    }
  }
}
