@import '../variables';
@import '../mixins';

.ltag__listing {
  font-family: var(--ff-sans-serif);
  border: 1px solid $light-medium-gray;
  box-shadow: $shadow;
  border-radius: 3px;
  display: block;
  margin: 0.95em 0 1.2em;
  max-width: 100%;
  @media screen and (min-width: 760px) {
    margin: 0.95em auto;
    width: 620px;
  }

  .ltag__listing-content {
    padding: calc(0.5vw + 6px);
    h3 {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 1.5em;
      a {
        color: var(--body-color);
      }
    }

    .ltag__listing-body {
      max-width: 100%;
      margin: 5px 0 15px;
      font-size: 0.9em;
      a {
        color: var(--body-color);
      }
    }

    .ltag__listing-tags {
      font-size: 0.7em;
      line-height: 1.3em;

      .ltag__listing-tag {
        margin-right: calc(0.4vw + 4px);
        margin-left: 1px;

        a {
          color: var(--card-color-secondary);
          display: inline-block;
          margin: 2px;
          padding: 2px 7px;
          border-radius: 3px;
          font-weight: bold;
        }
      }
    }

    .ltag__listing-author-info {
      color: var(--card-color-tertiary);
      line-height: 1.3em;
      a {
        margin: 0.1vw 0;
        padding: 0;
        font-size: 0.7em;
        margin-bottom: 0;
        font-weight: bold;
        color: var(--card-color-tertiary);
      }
    }
  }
}
