@import '../variables';
@import '../mixins';

.ltag__tag {
  border: 1px solid $black;
  font-family: var(--ff-sans-serif);
  border: 1px solid $light-medium-gray;
  @include themeable(box-shadow, theme-container-box-shadow, $bold-shadow);
  border-radius: 3px;
  display: block;
  margin: 0.95em 0 1.2em;
  position: relative;
  overflow: hidden;
  width: auto;
  @media screen and (min-width: 760px) {
    margin: 0.95em auto;
    max-width: 620px;
  }
  .ltag__tag__content {
    a {
      color: var(--card-color);
    }
    width: 90%;
    width: calc(100% - 36px);
    padding: calc(0.5vw + 6px) 0;
    padding-left: 24px;
    h2 {
      margin: 0;
      padding: 0;
      font-weight: 500;
      .follow-action-button {
        visibility: hidden;
        min-height: 25px;
        display: inline-block;
        color: white;
        background: $green;
        border-radius: 5px;
        font-size: 0.6em;
        vertical-align: 0.1em;
        padding: 2px 20px;
        border: 1px solid $green;
        cursor: pointer;
        &.following-butt {
          background: $green;
          color: white;
        }
        &.showing {
          visibility: visible;
        }
      }
    }
    .ltag__tag__summary {
      padding-top: calc(0.5vw + 6px);
      font-size: 0.77em;
      line-height: 1.1em;
    }
  }
}
