@import '../variables';
@import '../mixins';
.ltag__user__link {
  color: var(--body-color);
  &:active {
    opacity: 0.7;
  }
  &.profile-image-link {
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
}
.ltag__user {
  font-family: var(--ff-sans-serif);
  border: 1px solid $light-medium-gray;
  @include themeable(box-shadow, theme-container-box-shadow, $bold-shadow);
  border-radius: 3px;
  display: block;
  margin: 0.95em 0 1.2em;
  position: relative;
  overflow: hidden;
  width: auto;
  @media screen and (min-width: 760px) {
    margin: 0.95em auto;
    max-width: 620px;
  }
  .ltag__user__pic {
    display: inline-block;
    padding: calc(0.6vw + 8px);
    padding-right: 8px;
    img {
      width: calc(5vw + 30px);
      height: calc(5vw + 30px);
      margin: auto !important;
      border-radius: 50%;
    }
  }
  .ltag__user__content {
    display: inline-block;
    vertical-align: top;
    padding: calc(0.5vw + 6px);
    padding-left: 0;
    width: calc(100% - 8vw - 60px);
    h2 {
      margin: 0;
      padding: 0;
      font-weight: 500;
      .follow-action-button {
        visibility: hidden;
        min-height: 25px;
        display: inline-block;
        color: white;
        background: $green;
        border-radius: 5px;
        font-size: 0.6em;
        vertical-align: 0.3em;
        padding: 2px 20px;
        border: 1px solid $green;
        margin: 0.2em 0.5em;
        cursor: pointer;
        &.following-butt {
          background: $green;
          color: white;
        }
        &.showing {
          visibility: visible;
        }
      }
    }
    .ltag__user__social {
      margin: 2px 0;
      padding-left: 0;
      line-height: 22px;
      font-size: 0.75em;
      a {
        color: var(--card-color-tertiary);
        margin-right: 10px;
        display: inline-block;
        .icon-img {
          float: left;
          width: 15px;
          height: 15px;
          border-radius: 3px;
          vertical-align: -2px;
          margin: 3px 0;
          opacity: 0.7;
        }
      }
    }
    .ltag__user__summary {
      margin: 0.3em 0;
      padding: 0;
      font-size: 0.889em;
      margin-bottom: 0;
      line-height: 1.2em;
      opacity: 0.85;
    }
    .ltag__user__taglist {
      margin: 1em 0;
      padding: 0;
      line-height: 1;
      font-size: 0.8em;
      opacity: 0.7;
      a {
        color: $black;
        margin-right: 1em;
        display: inline-block;
        height: 30px;
      }
      img {
        display: inline-block !important;
        width: 1em !important;
        height: 1em !important;
        margin-right: 2px;
        vertical-align: -0.1em;
        left: 0;
      }
    }
  }
}
