<p>
  Hi <%= @name %>,
</p>

<p>
  account deletion was requested. Please, visit
  <%= link_to "this page", user_confirm_destroy_url(@token) %> to destroy account. The link will expire in 12 hours.
</p>

<p>
  <%= t("contact_prompts.if_we_can_help_html") %> 😊
</p>

<p>
  Thanks,
  <br>
  The <%= community_name %> Team
</p>
