Hi <%= @name %>,
account deletion was requested. Please, visit this page: <%= user_confirm_destroy_url(@token) %> to destroy account. The link will expire in 12 hours.
<%= t("contact_prompts.if_we_can_help_html") %>

Thanks,
The <%= community_name %> Team
