Congratulations, <%= @user.name %>! You got the <%= @badge.title %> badge! Be sure to check out your profile.

<%= @badge.description %>

<%= strip_tags @badge_achievement.rewarding_context_message %>

<%= user_url(@user) %>