<center>
  <p>
    Congratulations, <%= @user.name %>! You received the <b><%= @badge.title %></b> badge!
  </p>
  <p style="text-align:center;padding:20px 0px">
    <img src="<%= @badge.badge_image_url %>" style="height:200px" alt="<%= @badge.title %> badge" loading="lazy" />
  </p>
  <p>
    <%= @badge.description %>
  </p>

  <% if @badge_achievement.rewarding_context_message.present? %>
    <p>
      <em>
        <%= @badge_achievement.rewarding_context_message.html_safe %>
      </em>
    </p>
    <br />
  <% end %>

  <p>
    <a
      href="<%= user_url(@user) %>"
      style="font-weight:bold;color:white;background:#4e57ef;padding: 5px 10px;border-radius:3px;text-decoration:none">
      Check out your profile
    </a>
  </p>
</center>
