<header class="flex items-center mb-6">
  <div>
    <h2 class="crayons-title"><%= @organization.name %></h2>
    <p class="color-base-60">Created <%= @organization.created_at.strftime("%b %e '%y") %></p>
  </div>

  <div class="ml-auto">
    <%= link_to "View @#{@organization.name}", "/#{@organization.slug}", class: "btn btn-primary", target: "_blank", rel: "noopener" %>
  </div>
</header>

<div class="crayons-card p-6 mb-6">
  <h3 class="mb-4">General Info</h3>
  <dl>
    <dt>ID:</dt>
    <dd><%= @organization.id %></dd>
    <dt>Name:</dt>
    <dd><%= @organization.name %></dd>
    <dt>Membership Count:</dt>
    <dd><%= @organization.organization_memberships.size %></dd>
    <dt>Email:</dt>
    <dd><%= @organization.email || "N/A" %></dd>
    <dt>Twitter:</dt>
    <% if @organization.twitter_username %>
      <dd><%= link_to @organization.twitter_username, "https://twitter.com/#{@organization.twitter_username}" %></dd>
    <% else %>
      <dd>N/A</dd>
    <% end %>
    <dt>GitHub:</dt>
    <% if @organization.github_username %>
      <dd><%= link_to @organization.github_username, "https://github.com/#{@organization.github_username}" %></dd>
    <% else %>
      <dd>N/A</dd>
    <% end %>
  </dl>
</div>
<%= render "activity" %>
