@import 'config/import';
@import 'crayons';
@import 'variables';
@import 'scaffolds';

@import 'components/admin/users';
@import 'components/skip-link';

// overriding Bootstrap styles
label {
  margin-bottom: 0 !important;
}

.pagination {
  justify-content: space-evenly;

  .page,
  .next,
  .last,
  .first,
  .prev {
    padding: 5px;
  }
}

.bg-featured {
  background: hsl(140, 76%, 52%);
}

.bg-approved {
  background: #92e8ae;
  border: 12px solid #020202;
}

.bg-pinned {
  background: $light-sky-blue;
  border: 12px solid $sky-blue;
}

.bg-highlighted {
  background: #2effa8 !important;
  border: 12px solid black;
}

.border-highlighted {
  border: 12px solid black;
}

.broadcast-wrapper {
  display: flex;
  position: relative;
  z-index: unset;
}

.site-config__required {
  background: #dc3545;
  border-radius: 12px;
  padding: 5px;
  color: white;
  text-align: right;
  margin-left: 12px;
}

.site-config__label {
  display: flex;
  justify-content: space-between;
}

.profile__group-toggle {
  text-decoration: underline;
  cursor: pointer;
  color: grey;
  margin: 1em 0;
  text-align: end;
}

#profileFields {
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-header__actions {
    display: flex;
    justify-content: space-between;
  }

  .card-header__information {
    display: flex;
    align-items: center;
  }

  .group__description {
    color: $medium-gray;
    width: 150px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 12px;
  }

  .card-header__actions > div {
    margin: 12 12px;
    cursor: crosshair;
  }
}

.navigation-link-position {
  min-width: 25px;
  text-align: right;
}

.admin-navigation-links {
  width: 120px;
}

.admin-navigation-links .crayons-icon svg {
  width: 24px;
  height: 24px;
}

.config-authentication__item {
  display: grid;
  grid-template-columns: 40px;
  gap: var(--su-2);
  padding-top: var(--su-3);
  padding-bottom: var(--su-3);

  &--container {
    width: 100%;
  }

  &--row {
    height: 40px;
  }

  &--icon {
    align-items: center;
    color: var(--base-80);
    display: flex;
    height: 40px;
    width: 40px;
  }

  &--label {
    .enabled-indicator {
      display: none;

      &.visible {
        display: flex;
        align-items: center;
      }
    }
  }
}

.config-authentication-form {
  display: grid;
  gap: var(--su-4);
  padding-top: var(--su-6);
  padding-bottom: var(--su-2);
}

.admin-config-checkmark {
  width: var(--su-4);
  height: var(--su-4);
  background-color: var(--accent-success);
  border-radius: 100%;
  color: var(--base-inverted);
}

.mod-actions__data {
  max-width: 300px;
}

.capitalize {
  text-transform: capitalize;
}

.data_update_script__filename {
  max-width: 350px;
}

.data_update_script__status {
  min-width: 120px;
}

.admin__left-sidebar {
  button {
    border: 0;
    width: 100%;

    // In safari the links show up with a grey background
    &:not(.crayons-link--current) {
      background: transparent;
    }
  }

  .crayons-link--current {
    cursor: default;
  }
}

.admin__tabbed-navbar,
.admin__left-sidebar {
  // Navbar links have text-decorations that are being
  // rendered from bootstrap. We want to remove these to be
  // consistent with links in the crayons design system.
  .crayons-link,
  .crayons-tabs__item {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: 2px auto blue;
    }

    &:focus-visible {
      outline: 2px auto blue;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
  // override the Bootstrap collapse animation
  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }
}
