@import 'variables';
@import 'mixins';

#error_explanation {
  background: $red;
  max-width: 750px;
  font-family: var(--ff-sans-serif);
  color: white;
  border-radius: 5px;
  margin: 80px auto -50px;
  position: relative;

  h2 {
    text-align: center;
    padding: 2vw 0;
  }

  ul {
    width: 88%;
    max-width: 500px;
    margin: 30px auto;

    li {
      margin: 10px 0;
    }
  }
}
