@import 'config/import';

@import 'variables';
@import 'mixins';

#audiocontent {
  display: none;
}

*:focus {
  &:active {
    outline: 0;
  }
}

*:focus:not(.focus-visible) {
  outline:wheat;
}

.modal-open {
  margin: 0;
  overflow: hidden;
  overflow-y: hidden;
  height: 90vh;
}

div {
  &.field,
  &.actions {
    margin-bottom: 5px;
  }
}

#instantclick {
  display: none;
}

.partner-image-dark-mode {
  display: none !important;
}

body.dark-theme {
  .on-page-nav-butt img,
  .icon-img,
  .reaction-button:not(.reacted) img,
  .image-upload-button button,
  .icon-image,
  .dev-badge,
  .message__actions img {
    -webkit-filter: invert(95%);
    filter: invert(95%);
  }
  .ltag__tag {
    border-color: white !important;
    box-shadow: 3px 3px 0px #fff !important;
  }
  .partner-image-dark-mode,
  .partner-image-light-mode {
    display: none !important;
  }
}

.broadcast-wrapper {
	display: none !important;
}

.broadcast-visible {
  display: flex;
}

.broadcast-data {
  flex-grow: 1;
  align-self: baseline;
  align-items: baseline;
}

.trusted-visible-block {
  display: none !important;
}

// The .admin-help-button class is included in this file since it
// is referenced in both the admin and application layout.

.admin-help-button {
  margin-bottom: env(safe-area-inset-bottom);

  @media (max-width: $breakpoint-m) {
    bottom: calc(var(--header-height) + var(--su-3));
  }
}
