@import 'config/import';

#audiocontent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-sticky);
  font-family: var(--ff-sans-serif);
  display: block;
  #progressBar {
    color: #fff;
    width: 100%;
    height: calc(48px + 1vh);
    margin-top: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    background: rgb(236, 236, 236);
    display: none;
    &.playing {
      display: block;
    }
    #episode-profile-image {
      height: calc(48px + 1vh);
      width: calc(48px + 1vh);
    }
    #animated-bars {
      position: absolute;
      bottom: -12px;
      left: -15px;
      width: 80px;
      opacity: 0.3;
      display: none;
      &.playing {
        display: block;
      }
    }
    #barPlayPause {
      height: calc(48px + 1vh);
      width: calc(48px + 1vh);
      background: rgb(32, 32, 32);
      position: absolute;
      left: calc(48px + 1vh);
      bottom: 0;
      cursor: pointer;
      .butt {
        width: calc(35px + 0.5vh);
        margin: calc(8px + 0.17vh) 7px;
      }
      .pause-butt {
        display: none;
      }
      &.playing {
        .play-butt {
          display: none;
        }
        .pause-butt {
          display: block;
        }
      }
    }
    .showing {
      display: block;
    }
    .hidden {
      display: none;
    }
    #volume {
      height: calc(48px + 1vh);
      width: 36px;
      background: rgb(32, 32, 32);
      position: absolute;
      left: calc(100px + 1vh);
      bottom: 0;
      cursor: pointer;
      img {
        padding: 3px;
        margin-top: 4px;
        margin-left: 4px;
        margin-bottom: -11px;
      }
      #speed {
        font-weight: 300;
        font-size: calc(12px + 0.2vh);
        padding: 3px 0;
        width: 28px;
        margin-left: -0.5px;
        text-align: center;
        margin-top: calc(2px + 0.5vh);
        display: block;
        user-select: none;
        background: transparent;
        color: rgb(201, 201, 201);
      }
      .volume-icon-wrapper {
        padding: 1px 0;
      }
      #volumeindicator {
        .range-wrapper {
          position: absolute;
          top: 0;
          left: 26px;
          background: rgb(32, 32, 32);
          z-index: var(--z-elevate);
          width: 0;
          overflow: hidden;
          transition: width 200ms ease-out 95ms;
          padding: 8px 0px 5px;
          text-align: center;
          input {
            width: 80%;
            cursor: pointer;
          }
        }
        @media screen and (min-width: 430px) {
          &:hover {
            .range-wrapper {
              width: 170px;
            }
          }
        }
      }
    }
    .buffer-wrapper {
      height: calc(48px + 1vh);
      position: absolute;
      left: calc(136px + 1vh);
      right: 0;
      bottom: 0;
      cursor: pointer;
      #progress {
        background-color: #00ffa3;
        height: calc(48px + 1vh);
        display: inline-block;
        position: relative;
        transition: width 0.25s ease-in-out;
      }
      #buffer {
        background-color: #96ffd9;
        height: calc(48px + 1vh);
        display: inline-block;
        position: absolute;
        bottom: 0;
        transition: width 0.15s ease-in-out;
      }
      #time {
        position: absolute;
        right: calc(50px + 0.1vh + 1.5vw);
        top: calc(16px + 0.1vh);
        color: rgb(161, 161, 161);
        font-size: calc(14px + 0.2vh);
        background: rgba(236, 236, 236, 0.74);
        padding: 2px;
        pointer-events: none;
      }
      #closebutt {
        position: absolute;
        user-select: none;
        right: 0;
        top: 0;
        bottom: 0;
        background: white;
        border-left: rgba(236, 236, 236, 1);
        margin: 0;
        padding: 0;
        padding-top: calc(8px + 0.2vh);
        color: #535353;
        font-size: 13.5px;
        width: calc(42px + 0.1vh + 1.5vw);
        text-align: center;
        transition: all 0.3s ease 0s;
        white-space: nowrap;
        font-size: calc(25px + 0.2vh);
        &:hover {
          color: #ff4343;
        }
      }
    }
  }
}

.forem-ngbackground {
  fill: var(--accent-brand);
}
