<footer class="crayons-footer print-hidden">
  <div id="footer-container" class="crayons-footer__container">
    <p class="fs-s crayons-footer__description">
      <%= t("views.main.footer.desc_html", community: link_to(community_name, root_path, class: "c-link c-link--branded fw-medium", "aria-label": t("views.main.aria_home", community: community_name)), desc: Settings::Community.community_description) %>
    </p>
    <div class="fs-s">
      <%# The following copy is necessary for compatibility with the forem-ng AGPL licence which requires instances to link back to the source. %>
      <p><%= t("views.main.footer.built.text_html",
               forem-ng: link_to(t("views.main.footer.built.forem-ng"), "https://www.forem-ng.com", class: "c-link c-link--branded", target: "_blank", rel: "noopener"),
               opensource: link_to(t("views.main.footer.built.opensource"), "https://dev.to/t/opensource", target: "_blank", rel: "noopener", class: "c-link c-link--branded"),
               dev: link_to(t("views.main.footer.built.dev"), "https://dev.to", target: "_blank", rel: "noopener", class: "c-link c-link--branded")) %></p>
      <p><%= t("views.main.footer.powered.text_html",
               rails: link_to(t("views.main.footer.powered.rails"), "https://dev.to/t/rails", target: "_blank", rel: "noopener", class: "c-link c-link--branded"),
               community: community_name,
               copyleft: copyright_notice) %></p>
    </div>
    <a href="https://www.forem-ng.com" target="_blank" rel="noopener" class="c-link c-link c-link--block c-link--icon-alone self-center">
      <%= crayons_icon_tag("logo-forem-ng", class: "c-link__icon", native: true, title: t("views.main.footer.logo")) %>
    </a>
  </div>
</footer>
<div id="snack-zone"></div>
